# FFmpeg
deps/
ffbuild/
SampledCore/Sources/CFFmpeg/*/bin
SampledCore/Sources/CFFmpeg/*/include/*
!SampledCore/Sources/CFFmpeg/*/include/libav.h
!SampledCore/Sources/CFFmpeg/*/include/module.modulemap
!SampledCore/Sources/CFFmpeg/*/include/CFFmpeg.apinotes
SampledCore/Sources/CFFmpeg/*/lib
SampledCore/Sources/CFFmpeg/*/share

# Xcode
xcuserdata/
